*

## source files and directories
!/.gitignore
!/.gitattributes
!/index.html
!/package.json
!/README.md
!/tsconfig.json
!/webpack.config.js
!/yarn.lock
!/untracked.sh

!/dist/**/*
!/src/**/*

## include all subdirectories
!*/

## ignore git repo in subdirectories
res/course/Andrew Ng Machine Learning/src
res/course/UCB CS294 Virtual Machines and Managed Runtimes/prj
res/distributed/perfbook/perfbook
res/game/d2/diablo2-single-player-item-pack
res/game/johncarmack/john-carmack-plan-archive
res/hack/re/RE-for-beginners
res/http-server/book/JavaLambdaInternals
res/links
res/music/music
res/pl/clojure/cn-clojure-meetup
res/pl/cpp/core/CppCoreGuidelines
res/pl/smalltalk/wolczko/st
res/rfc/rfc

## directories or files not included in index.html
!/res/images/**/*

## files below will be committed
!res/cfa/2022 CFA Program Curriculum Level I Box Set.pdf

!res/finance/Desai/The Wisdom of Finance.生活中的金融学.Desai17.html
!res/finance/history/Goetzmann/Money Changes Everything.千年金融史.Goetzmann16.html

!res/politics/Parvenüs und Profiteure_Korruption in der NS-Zeit.纳粹德国的腐败与反腐.Bajohr01.html
!res/politics/geopolitics/Mearsheimer/The Tragedy of Great Power Politics.大國政治的悲劇.Mearsheimer01.rev14.pdf
!res/politics/geopolitics/Mearsheimer/The Great Delusion_Liberal Dreams and International Realities.Mearsheimer18.html
!res/politics/geopolitics/Mearsheimer/The Great Delusion_Liberal Dreams and International Realities.大幻想_自由主义之梦与国际现实.Mearsheimer18.html
!res/politics/geopolitics/Mearsheimer/Why Leaders Lie_The Truth About Lying in International Politics.Mearsheimer11.html
!res/politics/geopolitics/Mearsheimer/Why Leaders Lie_The Truth About Lying in International Politics.Mearsheimer11.cn.html
!res/finance/history/A History of Interest Rates/A History of Interest Rates.利率史.Homer63.html

!res/thinking/神逻辑_不讲道理的人怎么总有理.html

!res/thinking/有毒的逻辑_为何有说服力的话反而不可信.html
!res/thinking/A Rulebook for Arguments.论证是一门学问.18.html
!res/thinking/A Rulebook for Arguments.18.html
!res/db/neo4j/The Neo4j Cypher Manual.v4.4.html
!res/nlp/A Practical Guide to Hybrid Natural Language Processing_Combining Neural Models and Knowledge Graphs for NLP.20.pdf
