*

!/.vscode/**/*

## source files and directories
!/eslint*
!/.gitignore
!/.gitattributes
!/.gitmodules
!/*.html
!/jest*
!/package.json
!/nodemon.json
!/README.md
!/tsconfig*
!/webpack.config.js
!/yarn.lock
!/untracked.sh
!/git.sh
!/changes.py

!/res/.gitignore
!/build/**/*
!/dist/**/*
/dist/main/**/*
!/src/**/*
!/test/**/*

## include all subdirectories
!*/

## ignore git repo in subdirectories
node_modules/
res/math/algebra/linear/The-Art-of-Linear-Algebra
res/curriculum/course/UCB CS294 Virtual Machines and Managed Runtimes/prj
res/cs/people/1938 Knuth.高德纳/texbook-notes
res/distributed/perfbook
res/game/d2/diablo2-single-player-item-pack
res/game/d2/diablo2-tools-utilities
res/hack/re/RE-for-beginners
res/http-server/book/JavaLambdaInternals
res/links
res/music/music
res/pl/clojure/cn-clojure-meetup
res/pl/cpp/core/CppCoreGuidelines
res/pl/smalltalk/wolczko/st
res/network/unp/src/unpv13e/
res/network/protocol/tls/implementing_ssl_gcc
res/gpu/web/webgpu_book


## directories or files not included in index.html
!/res/images/**/*

!/res/**/wa/**/*
!/res/std/man/**/*
!/res/std/rfc/**/*

## files below will be committed
