*

## source files and directories
!/.gitignore
!/.gitattributes
!/index.html
!/package.json
!/README.md
!/tsconfig.json
!/tsconfig.webpack.json
!/webpack.config.js
!/yarn.lock
!/untracked.sh

!/build/**/*
!/dist/**/*
!/src/**/*

## include all subdirectories
!*/

## ignore git repo in subdirectories
res/course/Andrew Ng Machine Learning/src
res/course/UCB CS294 Virtual Machines and Managed Runtimes/prj
res/distributed/perfbook/perfbook
res/game/d2/diablo2-single-player-item-pack
res/game/johncarmack/john-carmack-plan-archive
res/hack/re/RE-for-beginners
res/http-server/book/JavaLambdaInternals
res/links
res/music/music
res/pl/clojure/cn-clojure-meetup
res/pl/cpp/core/CppCoreGuidelines
res/pl/smalltalk/wolczko/st
res/rfc/rfc

## directories or files not included in index.html
!/res/images/**/*

## files below will be committed
!res/cfa/2022 CFA Program Curriculum Level I Box Set.pdf
!res/finance/Desai/The Wisdom of Finance.生活中的金融学.Desai17.html
!res/finance/history/Goetzmann/Money Changes Everything.千年金融史.Goetzmann16.html
!res/politics/Parvenüs und Profiteure_Korruption in der NS-Zeit.纳粹德国的腐败与反腐.Bajohr01.html
!res/politics/geopolitics/Mearsheimer/The Tragedy of Great Power Politics.大國政治的悲劇.Mearsheimer01.rev14.pdf
!res/politics/geopolitics/Mearsheimer/The Great Delusion_Liberal Dreams and International Realities.Mearsheimer18.html
!res/politics/geopolitics/Mearsheimer/The Great Delusion_Liberal Dreams and International Realities.大幻想_自由主义之梦与国际现实.Mearsheimer18.html
!res/politics/geopolitics/Mearsheimer/Why Leaders Lie_The Truth About Lying in International Politics.Mearsheimer11.html
!res/politics/geopolitics/Mearsheimer/Why Leaders Lie_The Truth About Lying in International Politics.Mearsheimer11.cn.html
!res/finance/history/A History of Interest Rates/A History of Interest Rates.利率史.Homer63.html
!res/thinking/神逻辑_不讲道理的人怎么总有理.html
!res/thinking/有毒的逻辑_为何有说服力的话反而不可信.html
!res/thinking/A Rulebook for Arguments.论证是一门学问.18.html
!res/thinking/A Rulebook for Arguments.18.html
!res/db/neo4j/The Neo4j Cypher Manual.v4.4.html
!res/nlp/A Practical Guide to Hybrid Natural Language Processing_Combining Neural Models and Knowledge Graphs for NLP.20.pdf
!res/nlp/paper/2017 A Survey of Naturalistic Programming Technologies.pdf
!res/translate/重写翻译史.孔慧怡05.pdf
!res/nlp/NooJ/Formalizing Natural Languages_The NooJ Approach.html
!res/nlp/paper/2021 Semantic Hypergraphs.pdf
!res/nlp/paper/2019 Semantic Hypergraphs.pdf
!res/ai/Artificial Intelligence_A Modern Approach/Artificial Intelligence_A Modern Approach.4th.Global Edition.pdf
!res/communication/Lippmann/The Phantom Public.幻影公众.Lippmann1925.html
!res/communication/Lippmann/Public Opinion.舆论.Lippmann1922.html
!res/communication/Goebbels/1943 Goebbels' Conception of Propaganda.pdf
!res/communication/Goebbels/1950 Goebbels' Principles of Propaganda.pdf
!res/communication/The True Believer: Thoughts on the Nature of Mass Movements.狂热分子.Hoffer1951.html
!res/linguistics/Pinker/The Stuff of Thought.思想本质_语言是洞察人类天性之窗.Pinker2007.html
!res/pl/scheme/sicp/Structure and Interpretation of Computer Programs.2nd.pdf
!res/linguistics/Pinker/The Language Instinct.语言本能.Pinker1994.html
!res/linguistics/Hayakawa/语言学的邀请.Hayakawa1941.ocr.pdf
!res/linguistics/Deutscher/The Unfolding of Language_An Evolutionary Tour of Mankind’s Greatest Invention.Deutscher2005.cn.html
!res/linguistics/Deutscher/Through the Language Glass_Why the World Looks Different in Other Languages.Deutscher2011.cn.html
!res/linguistics/西方语言学史.姚小平2011.html
!res/linguistics/简明语言学史.Robins1967.ocr.pdf
!res/history/Butterfield/The Whig Interpretation of History.历史的辉格解释.Butterfield1931.ocr.pdf
!res/pdf/postscript/2020 Three Ideas that Changed Printing and Publishing.pdf
!res/politics/The Sovereign Individual.主权个人.pdf
!res/politics/The Sovereign Individual_Mastering the Transition to the Information Age.html
!res/philosophy/Continental Philosophy_A Very Short Introduction.解读欧陆哲学.html
!res/philosophy/Continental Philosophy_A Very Short Introduction.html
!res/philosophy/C.陈嘉映/语言哲学.陈嘉映.html
!res/philosophy/The Stone Reader_Modern Philosophy in 133 Arguments.cn.html
!res/philosophy/The Stone Reader_Modern Philosophy in 133 Arguments.html
!res/pl/python/Python Distilled.html
!res/pl/python/Fluent Python.2nd.html
!res/pl/groovy/Groovy in Action_Covers Groovy 2.4.2nd.html
!res/pl/groovy/Groovy Language Documentation.v4.0.1.html
!res/pl/groovy/paper/2020 A History of the Groovy Programming Language.pdf
!res/pl/groovy/paper/2011 Scripting an IDE for EDSL awareness.pdf
!res/plt/paper/1998 Growing a Language.Steele.pdf
!res/plt/compiler/Language Implementation Patterns.编程语言实现模式.ocr.pdf
!res/plt/compiler/Language Implementation Patterns.html
!res/plt/Friedman/The Little Typer.Friedman2018.pdf
!res/plt/Friedman/A Little Java_A Few Patterns.Friedman1998.pdf
!res/pl/scheme/The Scheme Programming Language.4th.Dybvig2009.html
!res/pl/scheme/Software Design for Flexibility_How to Avoid Programming Yourself into a Corner.html
!res/strategy/Freedman/Strategy_A History.战略_一部历史.Freedman2013.html
!res/plt/Friedman/The Little Schemer.4th.Friedman1995.pdf
!res/math/lambda/1936 An Unsolvable Problem of Elementary Number Theory.pdf
!res/math/lambda/2006 History of Lambda-calculus and Combinatory Logic.pdf
!res/math/lambda/The Calculi of Lambda-Conversion.Church1941.pdf
!res/math/lambda/The Calculi of Lambda-Conversion Annotated Notes and Ramblings of a Tired Student.pdf
!res/math/logic/形式化_现代逻辑的发展.朱水林.ocr.pdf
!res/math/Gödel/Gödel's Proof.哥德尔证明.Nagel.ocr.pdf
!res/math/recursive/Recursive Function Theory.Stone2011.pdf
!res/math/Kleene/1981 Origins of Recursive Function Theory.pdf
!res/math/Russell/Logicomix.罗素的故事.ocr.pdf
!res/math/Courant/What is Mathematics.什么是数学_对思想和方法的基本研究(中文版第四版).html
!res/math/history/Computation, Proof, Machine.计算进化史_改变数学的命运.html
!res/math/logic/What is Mathematical Logic.数理逻辑是什么.ocr.pdf
!res/math/history/现代数学思想概论.孔慧英.ocr.pdf
!res/math/Davis/Engines of Logic.逻辑的引擎.Davis.html
!res/math/basics/The Joy of X.X的奇幻之旅.Strogatz.html
!res/read/Critical Reading and Writing for Postgraduates.pdf
!res/math/course/cmu_15-317_Constructive Logic/Lecture Notes on Constructive Logic.Pfenning2017.pdf
!res/math/logic/Proofs and Algorithms_An Introduction to Logic and Computability.Dowek.pdf
!res/linguistics/paper/2016 Linguistics_Sound and Meaning in the World's Languages.pdf
!res/linguistics/KarenSteffenChung/史嘉琳教授正音系列文章集.pdf
!res/algorithm/How to Think About Algorithms.pdf
!res/law/basics/The Case of the Speluncean Explorers.Suber.洞穴奇案.html
!res/law/X许章润/坐待天明.许章润.html
!res/law/basics/裁判的方法.梁慧星.2nd.html
!res/law/basics/西窗法雨.刘星.html
!res/journalism/Talese/The Kingdom and the Power.Fame and Obscurity.Thy Neighbor's Wife.王国与权力.被仰望与被遗忘的.邻人之妻.Talese.html
!res/cs/paper/2014 Loop Invariants_Analysis, Classification, and Examples.pdf
!res/cs/Hoare/1969 An Axiomatic Basis for Computer Programming.Hoare.pdf
!res/cs/Floyd/1967 Assigning Meanings to Programs.Floyd.pdf
!res/cs/paper/1982 A Note on a Standard Strategy for Developing Loop Invariants and Loops.Gries.pdf
!res/cs/Dijkstra/A Discipline of Programming.Dijkstra1976.pdf
!res/cs/Dijkstra/1980 Some Beautiful Arguments Using Mathematical Induction.Dijkstra.pdf
!res/cs/Dijkstra/2001 An Interview with Edsger W. Dijkstra.pdf
!res/cs/paper/1966 Proof of Algorithms by General Snapshots.Naur.pdf
!res/cs/paper/2005 Bringing Mathematics Education into the Algorithmic Age.Greenleaf.pdf
!res/cs/turing_award/ACM图灵奖1966-2006_计算机发展史的缩影.吴鹤龄_崔林.3rd.ocr.pdf
!res/math/logic/Logic for Computer Scientists.Schöning1989.pdf
!res/ai/Levesque/Common Sense, the Turing Test, and the Quest for Real AI.Levesque2017.人工智能的进化.html
!res/math/Kowalski/Logic for Problem Solving.Kowalski1979.pdf
!res/math/Kowalski/Logic for Problem Solving Commentary.Kowalski2014.pdf
!res/cs/Lamport/Specifying Systems_The TLA+ Language and Tools for Hardware and Software.Lamport2002.pdf
!res/pl/prolog/Endriss/An Introduction to Prolog Programming.Endriss2021.notes.pdf
!res/math/Kowalski/1974 Predicate Logic as Programming Language.Kowalski.pdf
!res/en/Leech/A Communicative Grammar of English.Leech1975.3rd.html
!res/en/grammar/Collins COBUILD English Grammar.4th.html
!res/mythology/greek/Mythology_Timeless Tales of Gods and Heroes.Hamilton1942.神话_希腊、罗马及北欧的神话故事和英雄传说.ocr.pdf
!res/mythology/greek/Words from the Myth.Asimov1961.pdf
!res/hack/paper/2015 How Hackers Think.pdf
!res/algorithm/The Algorithm Design Manual.3rd.Skiena.pdf
!res/literature/people/M木心/木心全集.html
!res/literature/people/Montaigne.蒙田/蒙田随笔全集.html
!res/cg/processing/Learning Processing.Shiffman2015.2nd.pdf
!res/literature/people/L鲁迅/鲁迅全集.html
!res/literature/people/Kafka.卡夫卡/卡夫卡全集.html
!res/literature/people/Orwell.奥威尔/奥威尔作品全集.html
!res/politics/Arendt/The Origins of Totalitarianism.Arendt1951.极权主义的起源.html
!res/read/Adler/How to Read A Book.Adler1972.如何阅读一本书.html
!res/history/Durant/The Story of Civilization/The Story of Civilization.Durant.文明的故事(1-6).html
!res/history/Durant/The Story of Civilization/The Story of Civilization.Durant.文明的故事(7-11).html
!res/literature/people/Voltaire.伏尔泰/伏尔泰小说精选.Voltaire.html
!res/literature/history/Histoire de la Litterature Erotique.西洋情色文學史.Alexandrian2008.pdf
!res/literature/people/Shakespeare.莎士比亚/莎士比亚全集.人民文学出版社2014.纪念版.html
!res/literature/people/Carroll.卡罗尔/Alice's Adventures in Wonderland.Carroll1865.爱丽丝梦游仙境.html
!res/sw/sa/Software Design Decoded_66 Ways Experts Think.Petre2016.html
!res/sw/sa/Clean Architecture.Martin2017.架构整洁之道.html
!res/sw/sa/Fundamentals of Software Architecture_An Engineering Approach.Richards2020.html
!res/film/Ebert/Ebert's Bigger Little Movie Glossary.Ebert1999.我知道你们又来这一套.html
!res/film/Ebert/The Great Movies I-III.Ebert.伟大的电影.html
!res/film/电影编剧的秘密.芦苇2013.html
!res/film/侯孝贤电影讲座.侯孝贤2007.html
!res/film/Giannetti/Understanding Movies.Giannetti2014.13th.pdf
!res/film/Corrigan/A Short Guide to Writing about Film.Corrigan2012.8e.如何写影评.ocr.pdf
!res/film/Bordwell/Film History_An Introduction.Bordwell1994.世界电影史.ocr.pdf
!res/film/Piper/The Film Appreciation Book_The Film Course You Always Wanted to Take.Piper2014.html
!res/film/Piper/The Film Appreciation Book_The Film Course You Always Wanted to Take.Piper2014.cn.html
!res/film/Piper/The Movie Lover's Guide to Watching Films.Piper2008.2e.看电影的门道.ocr.pdf
!res/algorithm/paper/1984 A System for Algorithm Animation.Brown.pdf
!res/literature/people/Y杨宪益/杨宪益中译作品集(奥德修纪·鸟·凶宅·牧歌·罗兰之歌·近代英国诗钞·凯撒和克莉奥佩特拉·卖花女·地心游记).html
!res/literature/people/Shaw.萧伯纳/Pygmalion.Shaw1912.卖花女.html
!res/literature/Eagleton/How to Read Literature.Eagleton2013.文学的读法.html
!res/literature/people/Capote.卡波特/Summer Crossing.Capote1943.Breakfast at Tiffany's.Capote1958.夏日十字路口.蒂凡尼的早餐.ocr.pdf
!res/film/McKee/Story_Substance, Structure, Style and the Principles of Screenwriting.McKee1997.故事_材质、结构、风格和银幕剧作的原理.html
!res/psychology/Kandel/In Search of Memory_The Emergence of a New Science of Mind.Kandel2006.追寻记忆的痕迹_新心智科学的开创历程.html
!res/history/china/中国朝代顺序表.html
!res/sf/Dick/菲利普迪克科幻精选（高城堡里的人.少数派报告.流吧！我的眼泪.尤比克.仿生人会梦见电子羊吗？）.html
!res/film/history/Filmish_A Graphic Journey through Films.Ross2015.漫画电影史.ocr.pdf
!res/sf/Dick/菲利普迪克中短篇全集.html
!res/sf/theory/星空的旋律_世界科幻小说简史.萧星寒2011.html
!res/sf/theory/The Cambridge Companion to Science Fiction.James2003.剑桥科幻文学史.pdf
!res/sf/Masterpieces_The Best Science Fiction of the Century.大师的盛宴_二十世纪最佳科幻小说选.html
!res/sf/theory/How to Write Science Fiction and Fantasy.Card1990.如何创作科幻小说与奇幻小说.ocr.pdf
!res/psychology/Luria/The Mind of A Mnemonist_A Little Book about a Vast Memory.Luria1968.pdf
!res/history/china/Spence.史景迁/史景迁作品12册套装.html
!res/psychology/Kelly/在文字之前，人们如何回忆过去？.html
!res/psychology/Kelly/The Memory Code_The Secrets of Stonehenge, Easter Island and Other Ancient Monuments.Kelly2017.cn.html
!res/psychology/Kelly/The Memory Code_The Secrets of Stonehenge, Easter Island and Other Ancient Monuments.Kelly2017.html
!res/psychology/Kelly/Memory Craft_Improve Your Memory with the Most Powerful Methods in History.Kelly2019.cn.html
!res/psychology/Kelly/Memory Craft_Improve Your Memory with the Most Powerful Methods in History.Kelly2019.html
!res/translate/Y叶子南/英汉翻译对话录.叶子南2003.ocr.pdf
!res/translate/Y叶子南/高级英汉翻译理论与实践.叶子南2008.2e.ocr.pdf
!res/psychology/memory/Moonwalking with Einstein_The Art and Science of Remembering Everything.Foer2011.与爱因斯坦月球漫步_美国记忆力冠军教你记忆一切.html
!res/psychology/memory/Your Memory_How It Works and How to Improve It.Higbee1977.2e.如何高效记忆.html
!res/psychology/memory/The Art of Memory.Yates1966.记忆的艺术.pdf
!res/history/people/Ricci.利玛窦/西国记法.利玛窦1595.html
!res/history/people/Ricci.利玛窦/利玛窦《西国记法》完整版全注全译.html
!res/cn/people/W王力/古代汉语/古代漢語.王力2018.4e.html
!res/cn/词典/古汉语常用字字典.王力2011.4e.html
!res/mythology/china/中国妖怪故事全集.张云2020.pdf
!res/literature/chinese/山海经/山海经_中华第一部奇幻诡秘的创世之书.王海燕2009.ocr.pdf
!res/history/people/Y余英时/歷史與思想.余英時1976.2e.html
!res/cn/people/Shirakawa.白川静/诗经的世界.中国古代文学_从神话到楚辞.中国古代文学_从《史记》到陶渊明.汉字的世界.汉字的世界.白川静.html
!res/comic/变形金刚30周年纪念典藏版.html
!res/cn/说文解字/细说汉字_1000个汉字的起源与演变.左民安2005.pdf
!res/law/people/Posner.波斯纳/The Little Book of Plagiarism.Posner2007.论剽窃.沈明2010.pdf

!res/literature/people/M木心/paper/2014 木心文学创作中的“文本再生”现象研究_卢虹贝.pdf
!res/literature/people/M木心/paper/2015 诗歌符号学视阈下的木心诗歌研究.周恩宏.pdf
!res/psychology/memory/paper/2020 记忆术的图像.巨若星.pdf
!res/literature/people/Z周作人/周作人作品大全集.v78.html