:root {
    --res-ui-secondary-text-color: #f8f8f2;
    --res-ui-secondary-text-color: rgba(255, 255, 255, 0.5019607843);
    --res-ui-secondary-text-color-hover: lightgray;
}

body {
    background-color: #afd1af !important;
}

#book-container img {
    max-width: 100% !important;
    height: auto !important;
}

#res-toc-container {
    position: fixed !important;
    top: 0 !important;
    z-index: 99999 !important;
}

#res-toc-content {
    background-color: #f9f9f9 !important;
    overflow: scroll !important;
    width: 60vh !important;
    height: 90vh !important;
    text-align: left !important;
    line-height: 30px;
}

#res-toc-content.transparent {
    opacity: 0.2 !important;
}

#res-toc-content ul {
    list-style-type: none !important;
}

#res-toc-content a {
    text-decoration: none !important;
}

#res-toc-content a:link,
#res-toc-content a:visited {
    color: blue !important;
}

#res-toc-content a:hover {
    color: red !important;
}

#pdf-container {
    max-width: 70vw !important;
    height: 99vh;
}

.res-toc-dynamic-item-container * {
    all: unset !important;

    /* 2. The Re-build */
    display: block !important;
    /* Makes it a full-width row */
    text-align: left !important;
    /* Forces left alignment */
    width: 100%;
    line-height: 30px;
}

.res-toc-dynamic-item-container > a {
    white-space: pre-wrap;
}

.res-toc-dynamic-item-container[data-res-toc-rank="1"] {
    /* padding-left: 0% !important; */
    font-size: 24px;
}

.res-toc-dynamic-item-container[data-res-toc-rank="2"] {
    /* padding-left: 5% !important; */
    font-size: 20px;
}

.res-toc-dynamic-item-container[data-res-toc-rank="3"] {
    /* padding-left: 10% !important; */
    font-size: 16px;
}

.res-toc-dynamic-item-container[data-res-toc-rank="4"] {
    /* padding-left: 15% !important; */
    font-size: 12px;
}

.res-toc-dynamic-item-container[data-res-toc-rank="5"] {
    /* padding-left: 20% !important; */
    font-size: 10px;
}

#book-container {
    max-width: 20cm !important;
    /* best width for reading */
    overflow-wrap: break-word !important;
    margin-left: 2cm !important;
    /* background-color: #aaa; */
}

/**
TODO: source code...
 */
#book-container p:not(.pre, .pre1, .pre2) {
    text-align: justify !important;
    line-height: 150% !important;
}

.res-toc-fs-0 {
    font-size: large !important;
}

.res-toc-fs-1 {
    font-size: medium !important;
    padding-left: 16px;
}

.res-toc-fs-2 {
    font-size: small !important;
    padding-left: 32px;
}

.res-toc-fs-3 {
    font-size: x-small !important;
    padding-left: 48px;
}

.res-toc-fs-4 {
    font-size: xx-small !important;
    padding-left: 64px;
}

.res-toc-fs-5 {
    font-size: xx-small !important;
    padding-left: 80px;
}

iframe.res-iframe {
    display: block !important;
    /* iframes are inline by default */
    background: #000 !important;
    border: none !important;
    /* Reset default border */
    height: 80vh !important;
    /* Viewport-relative units */
    width: 90vw !important;
}

#book-search-results {
    z-index: 100;
    position: fixed;
    top: 1cm;
    bottom: 1cm;
    right: 1cm;
    width: 15cm;
}

.book-search-matched {
    background-color: aquamarine;
}

#res-pagemap {
    position: fixed;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    left: 23cm;
    width: 1cm !important;
    height: 100%;
    z-index: 200;
}

#res-cmd-input {
    position: fixed;
    left: 25cm;
    bottom: 1cm;
    width: 10cm;
    z-index: 300;
}

#res-statusbar-container {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
    padding-top: 0;
}

#res-ann-container {
    position: fixed;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    width: 9cm;
    text-align: left !important;
}

#res-ann-container.res-ann-container-book-container {
    left: 25cm;
}

#res-ann-container.res-ann-container-pdf-container {
    left: 72vw;
}

#res-ann-all {
    height: 97vh;
    margin: 0;
    font-size: 12px !important;
    overflow-y: auto;
}

.res-ann-a-container {}

.res-ann-a-container textarea {
    outline: 1px solid darkgray;
}

.res-ann-note-container {
    padding: 0;
    margin: 0;
}

.res-ann-note-container p {
    padding: 0;
    margin: 0;
    line-height: 18px;
    text-indent: 0;
}

.res-ann-a-container input {
    font-family: 'FontAwesome', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.res-ann-tags {
    font-size: 12px;
    margin-left: 5px;
}

.res-ann-a-tag {
    display: flex;
    align-items: baseline;
    border-radius: 6px;
    padding: 0 4px;
}

.res-ann-a-tag:hover {
    background-color: rgba(65, 132, 228, 0.15);
}

.res-ann-tag {
    padding: 0 4px 0 0;
    color: red !important;
}

.res-ann-tag span {
    white-space: nowrap;
}

.res-ann-tag:hover {
    cursor: pointer;
}

input:focus {
    outline: none !important;
}

.res-ann-tooltip ul {
    list-style-type: none;
}

.res-ann textarea::-webkit-scrollbar {
    display: none;
}

#res-ann-tooltip-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    padding-top: 0;
}

.fa {
    margin: 0;
    color: darkgray;
    cursor: pointer;
}

#res-toc-content ul,
#res-toc-content ol {
    list-style-type: none;
}

/* scrollbar */
@supports not selector(::-webkit-scrollbar) {
    #res-ann-all {
        scrollbar-color: var(--res-ui-secondary-text-color) transparent;
        scrollbar-width: auto;
    }
}

#res-ann-all::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#res-ann-all::-webkit-scrollbar-corner {
    background-color: transparent;
}

#res-ann-all::-webkit-scrollbar-thumb {
    background-color: var(--res-ui-secondary-text-color);
    border-radius: 8px;
    border: 4px solid transparent;
}

#res-ann-all::-webkit-scrollbar-thumb:hover {
    background-color: var(--res-ui-secondary-text-color-hover);
}

#res-ann-all::-webkit-scrollbar-track {
    background-color: transparent;
}

.res-index-tooltip {
    z-index: 10;
    position: absolute;
    background-color: white;
    color: black;
    /*padding: 5px 10px;*/
    border-radius: 5px;
    font-size: 12px;
    display: none;
    pointer-events: none;
    left: 1000px;
    max-width: 300px;
}

.res-index-stat {
    margin-left: 10px;
}

.res-index-status {
    margin-right: 8px;
    font-size: x-large;
    color: red;
}


.res-index-progress-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 17px;
    align-items: end;
    justify-content: space-between;
    background-color: #8b959117;
    border-radius: 34px;
}

.res-index-progress-progress {
    width: 0;
    height: 8px;
    border-radius: 16px;
    background-color: #ff4f4fa6
}

.res-index-progress-understand {
    width: 0;
    height: 8px;
    border-radius: 16px;
    background-color: #4141ffb0;
}

#res-kg-container {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 1400px;
}

.yt {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 25%;
    left: 50%;
}

.yt iframe {
    width: 40%;
    aspect-ratio: 16 / 9;
}