
body {
    background-color: #fcfaee !important;
}

/*img {*/
/*    width: 40% !important;*/
/*}*/

#res-toc-container {
    position: fixed !important;
    top: 0 !important;
    z-index: 99999 !important;
}

#res-toc-content {
    background-color: #f9f9f9 !important;
    overflow: scroll !important;
    width: 60vh !important;
    height: 90vh !important;
    text-align: left !important;
}

#res-toc-content.transparent {
    opacity: 0.2 !important;
}

#res-toc-content ul {
    list-style-type: none !important;
}

#res-toc-content a {
    text-decoration: none !important;
}
#res-toc-content a:link, #res-toc-content a:visited {
    color: blue !important;
}
#res-toc-content a:hover {
    color: red !important;
}

#book-container {
    max-width: 20cm !important; /* best width for reading */
    overflow-wrap: break-word !important;
    margin-left: 2cm !important;
    /* background-color: #aaa; */
}

/**
TODO: source code...
 */
#book-container p:not(.pre,.pre1,.pre2) {
    text-align: justify !important;
    line-height: 150% !important;
}

.res-toc-fs-0 {
    font-size: large !important;
}

.res-toc-fs-1 {
    font-size: medium !important;
    padding-left: 16px;
}

.res-toc-fs-2 {
    font-size: small !important;
    padding-left: 32px;
}

.res-toc-fs-3 {
    font-size: x-small !important;
    padding-left: 48px;
}

.res-toc-fs-4 {
    font-size: xx-small !important;
    padding-left: 64px;
}

iframe.res-iframe {
    display: block !important;       /* iframes are inline by default */
    background: #000 !important;
    border: none !important;         /* Reset default border */
    height: 80vh !important;        /* Viewport-relative units */
    width: 90vw !important;
}

#book-search-results {
    z-index: 100;
    position: fixed;
    top: 1cm;
    bottom: 1cm;
    right: 1cm;
    width: 15cm;
}

.book-search-matched {
    background-color: aquamarine;
}

#res-pagemap {
    position: fixed;
    top: 0;
    left: 23cm;
    width: 1cm !important;
    height: 100%;
    z-index: 200;
}

#res-cmd-input {
    position: fixed;
    left: 25cm;
    bottom: 1cm;
    width: 10cm;
    z-index: 300;
}

#res-statusbar-container {
    position: fixed;
    top: 0;
    right: 0;
}

#res-ann-container {
}

.res-ann-new {
    background-color: white !important;
}

.res-ann-a-container {
    position: absolute;
    top: 0;
    left: 25cm;
    width: 8cm;
}

.res-ann-tooltip ul {
    list-style-type: none;
}

.res-ann textarea::-webkit-scrollbar {
    display: none;
}

#res-ann-tooltip-container {
    position: absolute;
    top: 0;
    left: 0;
}
